<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - YLSCMovies Movie Theater</title>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css", "~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" role="tablist">
                            <li class="active"><a href="#HomePage" role="tab" data-toggle="tab">YLSCMovies</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movies<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (User.Identity.IsAuthenticated) {
                                    <li><a href="#movies-my-movies" role="tab" data-toggle="tab">My Movies</a></li>
                                    <li class="divider"></li>
                                    }
                                    <li><a href="#movies-top-rated" role="tab" data-toggle="tab">Top Rated Movies</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Searches<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (User.Identity.IsAuthenticated) {
                                    <li><a href="#searches" role="tab" data-toggle="tab">My Searches</a></li>
                                    }
                                    <li><a href="#searches-advance-search" role="tab" data-toggle="tab">Advance Search</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#searches-all-searches" role="tab" data-toggle="tab">All Searches</a></li>
                                    <li><a href="#searches-graph" role="tab" data-toggle="tab">Common Searches</a></li>
                                    <li><a href="#searches-filter-searches" role="tab" data-toggle="tab">Filter Searches</a></li>
                                </ul>
                            </li>
                            <!-- Shirit start 101014 -->
                            @{
                                if (ViewBag.isAdmin == true)
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#admin-user" data-toggle="tab">User Management</a></li>
                                            <li><a href="#admin-movies" data-toggle="tab">Delete Movie</a></li>
                                            <li><a href="#admin-searches" data-toggle="tab">Delete Search</a></li>
                                        </ul>
                                    </li>
                                }
                            }
                            <!-- Shirit end -->
                            <li class="hidden"><a href="#search-results" role="tab" data-toggle="tab">Search Results</a></li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search" onsubmit="return false">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search" id="search-movie-input">
                            </div>
                            <button type="submit" class="btn btn-default" onclick="searchMovie()">Submit</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right" role="tablist">
                            @Html.Partial("_LoginPartial")
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
            <div id="body">
                @RenderSection("featured", required: false)
                <section id="alternate" class="col-md-10 col-md-offset-1 tab-content">
                    <div id="home-page" class="container-fluid tab-pane">

                        <div id="recently-watched-videos" class="row">
                        </div>
                    </div>
                    <div id="HomePage" class="tab-pane active">
                        @Html.Partial("../Home/HomePage")
                    </div>
                    @Html.Partial("../Movie/Movie")
                    @Html.Partial("../Search/Search")
                    @Html.Partial("../Search/SearchResults")
                    @Html.Partial("../Account/Login")
                    <div id="register" class="tab-pane">
                        @Html.Partial("../Account/Register")
                    </div>
                    <!-- shirit 101014-->
                    <div id="admin-user" class="tab-pane">
                        @Html.Partial("../Admin/Users")
                    </div>
                    <div id="admin-movies" class="tab-pane">
                        @Html.Partial("../Admin/DeleteMovie")
                    </div>
                    <div id="admin-searches" class="tab-pane">
                        @Html.Partial("../Admin/DeleteSearch")
                    </div>
                </section>
                <section class="content-wrapper main-content clear-fix">
                    @RenderBody()
                </section>
            </div>

            <div class="modal" id="myModal" aria-hidden=true tabindex="-1" role="dialog" style="display:none">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <section class="details">
                                <div class="small-details pull-left">
                                    <p><span id="title"></span> (<span id="year"></span>)</p>
                                    <p id="genre"></p>
                                    <p id="director"></p>
                                </div>
                                <div class="poster pull-left">
                                    <img src="" class="poster-image" />
                                </div>
                            </section>
                            <section class="plot"></section>
                        </div>
                        <div class="modal-footer">
                            @if (User.Identity.IsAuthenticated) {
                            <div class="rating-wrap pull-left">
                                <div class="radio-wrap">
                                    <input type="radio" name="rating" value="1" />
                                    <div class="rating-fill"></div>

                                    <input type="radio" name="rating" value="2" />
                                    <div class="rating-fill"></div>

                                    <input type="radio" name="rating" value="3" />
                                    <div class="rating-fill"></div>

                                    <input type="radio" name="rating" value="4" />
                                    <div class="rating-fill"></div>

                                    <input type="radio" name="rating" value="5" />
                                    <div class="rating-fill"></div>
                                </div>
                                <div class="rating-blank"></div>
                            </div>
                            }
                            <div id="buttons">
                                <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
                                @if (User.Identity.IsAuthenticated) {
                                    <span id="modal-additional-buttons"></span>
                                }
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            @Scripts.Render("~/bundles/jquery", "~/bundles/bootstrap", "~/bundles/jqueryui")
            @Scripts.Render("~/bundles/movie-theater")
            @RenderSection("scripts", required: false)
</body>
</html>
